<div class="fixed z-10 inset-0 overflow-y-auto mt-32 text-sm" [ngClass]="{'hidden': hidden}">
  <div class="w-max bg-white shadow border mx-auto rounded-lg relative">
    <div class="p-4 space-y-4 flex flex-col ">
      <div (click)="close()">
        <svg xmlns="http://www.w3.org/2000/svg"
          class="absolute text-red-400 top-4 right-4 hover:text-red-600 cursor-pointer h-6 w-6"
          viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
        </svg>
      </div>
      <label for="status">Status</label>
      <select
        name="status"
        [ngClass]="{
          'text-black': s.value != '',
          'text-gray-600': s.value === ''
        }"
        class="text-sm form-select rounded-lg border-gray-300 shadow-sm"
        [(ngModel)]="status" #s>
        <option value="" disabled hidden>Choose status</option>
        <option value="reading" [selected]="true">Reading</option>
        <option value="on_hold">On Hold</option>
        <option value="completed">Completed</option>
      </select>
    </div>
    <div class="flex justify-end items-end bg-purple-100">
      <div class="p-4 space-x-4">
        <button class="border text-gray-500 rounded-lg border border-gray-400 p-1 px-3 hover:text-white hover:bg-red-500 hover:border-red-500 hover:shadow-md" (click)="close()">Cancel</button>
        <button class="btn-purple" (click)="edit(mangaId, status)">Edit</button>
      </div>
    </div>
  </div>
</div>