<div *ngIf="router.url === '' || router.url === '/'">
  <ul class="m-5 md:flex w-100 relative">
    <li class="mr-3 p-1"><img class="h-7" src="assets/img/logo.png" alt="logo"></li>
    <li class="mr-3 p-1 hover:text-black"><a href="#features">Features</a></li>
    <li class="mr-3 p-1 hover:text-black"><a href="#supported_sites">Supported Sites</a></li>
    <li class="mr-3 p-1 hover:text-black"><a href="#statistics">Statistics</a></li>
    <div class="md:absolute md:right-0 md:flex p-1">
      <li class="md:ml-3 p-1 hover:text-black"><a routerLink="/login">Login</a></li>
      <li class="md:ml-3 btn-purple"><a routerLink="/signup">Signup</a></li>
    </div>
  </ul>
</div>

<nav *ngIf="router.url.startsWith('/dashboard')" class="w-full grid grid-cols-5 absolute -top-14">
  <ul class="md:flex w-full col-span-4 mt-2">
    <li class="mr-3 p-1 cursor-pointer" routerLink="/"><img class="h-7" src="assets/img/logo.png" alt="logo"></li>
    <li class="mr-3 p-1 hover:text-black cursor-pointer" routerLink="/dashboard/manga-list" routerLinkActive="font-bold text-black border-b-2 border-purple-400">Manga List</li>
    <li class="mr-3 p-1 hover:text-black cursor-pointer" routerLink="/dashboard/report-problem" routerLinkActive="font-bold text-black border-b-2 border-purple-400">
        Report a problem
    </li>
  </ul>
  <div class="pb-2 relative">
    <img src="assets/img/avatar.png" alt="avatar" class="float-right rounded-full w-12 h-12 border border-purple-400"  (click)="handleProfileClick(list)">
    <div class="hidden text-sm relative top-16 -left-16 float-right " #list>
      <div class="mx-auto bg-white w-4 h-4 left-20 z-20 transform rotate-45 absolute -top-2 shadow border"></div>
      <div class="mx-auto bg-white w-4 h-4 left-20 z-40 transform rotate-45 absolute -top-2"></div>
      <ul class="bg-white pt-4 pb-1 px-0 w-48 shadow-sm border rounded-lg z-30 absolute">
        <li class="px-2">
          <span class="block">Logged in as:</span>
          <span class="text-black">{{fullname | uppercase}}</span>
        </li>
        <hr class="m-2" />
        <li class="p-2 hover:bg-purple-100 cursor-pointer" routerLink="/dashboard/profile" (click)="handleProfileClick(list)">Profile</li>
        <li class="p-2 hover:bg-purple-100 cursor-pointer" (click)="onLogout()">Logout</li>
      </ul>
    </div>
  </div>
</nav>