<div class="relative bottom-0 w-full mt-24 text-gray-300 text-center bg-gray-700 p-10">
  <div class="grid grid-cols-3">
    <div>
      A wise man once said: "Za wardo!"
    </div>
    <div>
      Done with&nbsp;
      <svg class="inline w-7 h-7 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
      </svg>
      &nbsp;by&nbsp;<a target="_blank" class="hover:text-white" href="https://github.com/hamzanaciri99/"> @hamzanaciri99</a> 
    </div>
    <div>
      <a href="mailto:naciri.nhamza@gmail.com">Contact me</a>
    </div>
  </div>
</div>