<div>
  <app-add-manga [hidden]="addMangaHidden" (onClose)="closeAddMangaPopup($event)" (onAdd)="fetchMangaList()"></app-add-manga>
  <app-edit-manga [mangaId]="editMangaId" [hidden]="editMangaHidden" (onClose)="closeEditMangaPopup($event)" (onEdit)="onEdit($event)"></app-edit-manga>
  <section class="flex flex-row">
    <div class="mt-12 w-full items-center space-x-2">
      <label for="sort">Sort by</label>
      <select name="sort" id="sort" class="text-sm h-12 form-select rounded-lg border-gray-300 shadow-sm lg:mr-4" [(ngModel)]="sort">
        <option value="unread">Unread first</option>
        <option value="title">Title</option>
      </select>

      <label for="status">Filter by</label>
      <select name="status" id="status" class="text-sm h-12 form-select rounded-lg border-gray-300 shadow-sm lg:mr-4" [(ngModel)]="filter">
        <option value="">All</option>
        <option value="reading">Reading</option>
        <option value="on_hold">On Hold</option>
        <option value="completed">Completed</option>
      </select>

      <label for="search">Search </label>
      <div class="relative inline">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 absolute left-2 -top-1 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
        <input type="text" name="search" class="text-sm h-12 pl-10 form-input rounded-lg border-gray-300 shadow-sm" [(ngModel)]="search" />
      </div>
      

      <button class="float-right btn-purple flex h-12 items-center shadow" (click)="addMangaHidden = false">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg> &nbsp;
        Add manga
      </button>
    </div>
  </section>
  <section class="flex flex-col">
    <div class="my-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <input type="checkbox" class="form-checkbox rounded-md" [(ngModel)]="selectAll"/>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Name
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Status
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Last read
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Last chapter
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span [ngClass]="{hidden: showDeleteMulti()}" class="sr-only">Edit</span>
                  <div
                    (click)="DeleteMulti()"
                    [ngClass]="{hidden: !showDeleteMulti()}"
                    class="cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-6 w-6 hover:text-red-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let manga of getFilteredMangaList().sort(comparator[sort])"
                  class="py-2">
                <td class="px-6 ">
                  <input type="checkbox" class="form-checkbox rounded-md" [(ngModel)]="manga.selected" />
                </td>
                <td class="px-6 break-words">
                  <div class="flex space-x-2 items-center">
                    <div>
                      {{manga.title}}
                    </div>
                    <span class="flex relative h-3 w-3" [ngClass]="{hidden: manga.lastChapter <= manga.lastRead}">
                      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"></span>
                      <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"></span>
                    </span>
                  </div>
                </td>
                <td class="px-6  whitespace-nowrap">
                  <span 
                    [ngClass]="{
                      'bg-green-100 text-green-800': manga.status === 'reading',
                      'bg-purple-200 text-purple-800': manga.status === 'completed',
                      'bg-yellow-100 text-yellow-800': manga.status === 'on_hold'
                    }"
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    {{manga.status.replace('_', ' ') | titlecase}}
                  </span>
                </td>
                <td class="px-6  whitespace-nowrap">
                  <span>
                    Ch. {{manga.lastRead}}
                  </span>
                </td>
                <td class="px-6  whitespace-nowrap">
                  <span>
                    Ch. {{manga.lastChapter}}
                  </span>
                </td>
                <td class="px-6 ">
                  <div class="grid md:grid-cols-3 grid-cols-1 m-2 p-1 flex-row border md:divide-x divide-gray-300 shadow-sm rounded-md ">
                    <div class="relative p-1">
                      <span class="hidden absolute p-2 bg-white border border-gray-200 shadow rounded-md text-xs -top-12" #mar>
                        Mark as read
                      </span>
                      <div
                        (click)="onMarkAsRead(manga.mangaId, manga.lastChapter)"
                        (mouseover)="mar.classList.remove('hidden')"
                        (mouseout)="mar.classList.add('hidden')"
                        class="cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto hover:text-purple-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                      </div>
                    </div>
                    <div class="relative p-1">
                      <span class="hidden absolute p-2 bg-white border border-gray-200 shadow rounded-md text-xs -top-12" #edit>
                        Edit
                      </span>
                      <div
                        (click)="editMangaHidden = false; editMangaId = manga.mangaId"
                        (mouseover)="edit.classList.remove('hidden')"
                        (mouseout)="edit.classList.add('hidden')"
                        class="cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto hover:text-green-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                        </svg>
                      </div>
                    </div>
                    <div class="relative p-1">
                      <span class="hidden absolute p-2 bg-white border border-gray-200 shadow rounded-md text-xs -top-12" #del>
                        Remove
                      </span>
                      <div 
                        (click)="onDelete(manga.mangaId)"
                        (mouseover)="del.classList.remove('hidden')"
                        (mouseout)="del.classList.add('hidden')"
                        class="cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-6 w-6 hover:text-red-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>